<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <h1>User Registration</h1>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <button type="submit" class="btn btn-success">REGISTER</button>
    </form>

    <br>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

</div>
</body>
</html>