{% extends 'base.html' %}

{% block title %}Question Details{% endblock %}

{% block content %}

    <h1>Question Details</h1>
    <br>
    <hr>
    <li><b>{{ single_question_details.name }}</b></li>
    <hr>

    <form action="">
        <input type="radio" name="ans" value="one">{{ single_question_details.option_1 }}<br>
        <input type="radio" name="ans" value="two">{{ single_question_details.option_2 }}<br>
        <input type="radio" name="ans" value="three">{{ single_question_details.option_3 }}<br>
        <input type="radio" name="ans" value="four">{{ single_question_details.option_4 }}<br>
        <br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

