{% extends 'base.html' %}

{% block title %}Question Details{% endblock %}

{% block content %}

    <h1>Question Details</h1>
    <br>
    <hr>
    <p>Start Time: {{ single_question_details.start_time }}</p>
    <p>End Time: {{ single_question_details.end_time }}</p>
    <p>Date: {{ single_question_details.date }}</p>
    <hr>
    <li><b>{{ single_question_details.name }}</b></li>
    <hr>

    <form action="">
        <input type="radio" name="ans" value="one">{{ single_question_details.option_1 }}<br>
        <input type="radio" name="ans" value="two">{{ single_question_details.option_2 }}<br>
        <input type="radio" name="ans" value="three">{{ single_question_details.option_3 }}<br>
        <input type="radio" name="ans" value="four">{{ single_question_details.option_4 }}<br>
        <br><br>
        <button type="button" class="btn btn-success" onclick="displayRadioValue()">SUBMIT</button>
    </form>
    <br><br>

    <div id="result"></div>

    <hr>
    <p>Total Duration: {{ single_question_details.time_length }}</p>

    <script>
        function displayRadioValue() {
            var ele = document.getElementsByName('ans');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("result").innerHTML
                        = "Correct Answer: "+ele[i].value;
            }
        }
    </script>

{% endblock %}

