{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
<br>
<div class="container">

    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-success">HOME</button>
    </a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'custom_users:profile_details' request.user.id %}">
            <button type="button" class="btn btn-warning">Profile</button>
        </a>

        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>

        <a href="{% url 'products_invoices:create_customer' %}">
            <button type="button" class="btn btn-primary">Create Customer</button>
        </a>

        <a href="{% url 'products_invoices:create_product' %}">
            <button type="button" class="btn btn-primary">Create Product</button>
        </a>

        <a href="{% url 'products_invoices:create_invoice' %}">
            <button type="button" class="btn btn-primary">Create Invoice (Order)</button>
        </a>

        <a href="{% url 'products_invoices:view_all_invoices' %}">
            <button type="button" class="btn btn-primary">View All Invoices</button>
        </a>

    {% else %}
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-success">Login</button>
        </a>

        <a href="{% url 'custom_users:registration' %}">
            <button type="button" class="btn btn-primary">Registration</button>
        </a>
    {% endif %}
    <hr>

    <!-- Messages -->
    {% include 'messages.html' %}
    <!-- Messages -->

    {% block content %}


    {% endblock %}

</div>

</body>
</html>


