{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <hr>
    <h1>Dashboard</h1>
    <hr>

    <!-- Messages -->
{#    {% include 'messages.html' %}#}
    <!-- Messages -->

    <br><br>

    <!-- Dashboard -->
    {% if request.user.is_authenticated %}
        <h3>Welcome <b style="color: green">{{ user.username }}</b></h3><br>
    {% else %}
        <h1 style="color: red">You are not logged in!</h1>
    {% endif %}

    {% if request.user.is_authenticated %}

        {% if profile %}
            <p>
                My Profile <a href="{% url 'custom_users:profile_details' profile.id %}">
                {{ request.user.username }}
            </a>
            </p>

        {% else %}
            <p>
                Create Profile <a href="{% url 'custom_users:profile_create' %}">
                {{ request.user.username }}</a>
            </p>
        {% endif %}

    {% endif %}
    <!-- Dashboard -->

{% endblock content %}









